.navbar {
    background: #13CE66;
    width: 16.5em;
}

.refBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.item {
    margin-bottom: .2em;
    color: #fff;
    transition: color .1s linear;
    cursor: pointer;
}

.item:hover {
    color: gold;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    font-size: 2em;
}