
.mainContainer {
    color: #47525E;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    width: 489px;
    text-align: left;
}

.largePhoto {
    width: 1100px;
    height: 224px;
}

.avatarPhoto {
}