body {
    box-sizing: border-box;
    font-family: "Lato";
}

.appContainer {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
}

.mainBlocks {
    display: flex;
}

.staticBlock {
    margin-right: 1.5em;
}

nav a.active {
    color: gold;
    font-weight: bold;
    font-style: italic;
}

button {
    cursor: pointer;
}
